$cBeige: #fff8e1;
$cBeigeDark: #cbba83;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  .intro {
    width: 100%;
    background-image: url("../assets/bg1.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media screen and (max-width: 1200px) {
      width: 100%;
      padding: 0 10px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($color: black, $alpha: 0.4);
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .intro__title {
      z-index: 5;
      font-family: "Pacifico", cursive;
      //   font-family: "Caveat", cursive;
      font-size: 42px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $cBeige;
      @media screen and (max-width: 550px) {
        font-size: 38px;
      }
      @media screen and (max-width: 340px) {
        font-size: 32px;
      }
    }
    .intro__sub-title {
      z-index: 5;
      font-size: 20px;
      color: $cBeige;
    }
    .intro__anchor {
      z-index: 5;
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      .intro__anchor-arrow {
        height: 100%;
        width: 100%;
        // animation: jumpAnimation 2s infinite;
        transition: 0.3s;
        &:hover {
          filter: brightness(150%);
          transform: scale(1.05);
        }
      }
    }
  }
  .catalog {
    width: 1200px;
    min-height: 100vh;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    .catalog__title {
      text-align: center;
      margin-top: 40px;
      color: $cBeigeDark;
      font-size: 24px;
      text-transform: uppercase;
      font-family: "Pacifico", cursive;
    }
    .catalog__list {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      width: 100%;
      flex-wrap: wrap;
      // @media screen and (max-width: 850px) {
      //   flex-direction: column;
      //   width: 100vw;
      // }
      @media screen and (max-width: 550px) {
        margin-top: 20px;
      }
      .catalog__item {
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba($color: $cBeigeDark, $alpha: 0.7);
        transition: 0.3s;
        @media screen and (min-width: 500px) {
          &:hover {
            transform: scale(1.02);
            box-shadow: 0px 0px 10px 5px rgba($color: $cBeigeDark, $alpha: 0.7);
          }
        }
        @media screen and (max-width: 1200px) {
          width: 95%;
          flex: none;
        }

        @media screen and (max-width: 550px) {
          flex-direction: column;
        }
        .item__img-block {
          width: 50%;
          max-height: 380px;
          overflow: hidden;
          @media screen and (max-width: 1200px) {
            max-height: 470px;
          }
          @media screen and (max-width: 550px) {
            width: 100%;
          }
          .item__img {
            width: 100%;
          }
        }

        .item__flex-container {
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          @media screen and (max-width: 550px) {
            width: 100%;
          }
          .item__info {
            .item__name {
              color: $cBeigeDark;
              font-size: 20px;
              text-align: center;
            }
            .item__description {
              margin-top: 10px;
              text-align: justify;
            }
          }
          .item__buy {
            margin-top: 20px;
            border: none;
            border-radius: 10px;
            background-color: $cBeigeDark;
            color: white;
            height: 40px;
            cursor: pointer;
            font-size: 18px;
            outline: none;
            transition: 0.3s;
            &:hover {
              opacity: 0.8;
            }
            &:active {
              box-shadow: inset 0px 0px 10px -5px black;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.slick-next {
  right: 0px;
  height: 50px;
  width: 50px;
  &:before {
    color: #cbba83;
    opacity: 1;
    font-size: 26px;
  }
}

.slick-prev {
  left: 0px;
  height: 50px;
  width: 50px;
  z-index: 1;
  &:before {
    color: #cbba83;
    opacity: 1;
    font-size: 26px;
  }
}

@keyframes jumpAnimation {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 10px;
  background-color: $cBeigeDark;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $cBeigeDark;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
